.logo-head { 
    background-color: #fff; 
    padding:20px 50px;
}

.hero_title {
    font: 30px "ubuntu",Verdana,Arial,sans-serif;
    color: #2B0A3D;
    padding-left: 50px;
}

.page-conatiner {
    padding-left: 50px;

}

.content-header {
    font: 25px "ubuntu",Verdana,Arial,sans-serif;
    color: #2B0A3D;
    word-break: break-word;
    margin: 10px 10px;
}

.content-text {
    color: #000;
    font: 16px "ubuntu",Verdana,Arial,sans-serif;
    letter-spacing: .5px;
}

.content-text-disabled {
    color: rgb(128, 128, 128) !important;
}

.capg-button {
    margin-bottom: 24px;
    display: inline-block;
    font: 1rem/1 "ubuntu-md",Verdana,Arial,sans-serif;
    min-width: 195px;
    border-radius: 100px;
    text-align: center;
    white-space: nowrap;
    transition: all .5s ease;
    padding: 0 20px;
    color: #0070ad;
    border: 2px solid #0070ad;
    line-height: 48px;
}


.capg-button-hover:hover {
    color: white;
    background-color: #0070ad;
}

.small-size {
    margin-bottom: 50px;
    border-radius: 500px;
    line-height: 20px;
}

.margin-top-modal {
    margin-top: 20px;
}

.dependencies-must {
    font: 20px "ubuntu-md",Verdana,Arial,sans-serif;
    padding: 20px 20px;
    color: #2B0A3D;
    margin: 5px 350px;
}


.flex-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
}

.flex-column {
    padding: 5px;
    display: flex;
    flex-wrap: column wrap;
    flex-grow: 1;
    max-width: 30%;
    width: 30%;
}

.margin-top {
    margin-top: 20px;
}

.margin-right {
    margin-right: 30px;
}

.label-project-metadata {
    margin-left: 10px;
}

.section--grey {
    background: #ececec;
    position: relative;
    width: 70%;
    margin-left: 50px;
}

.card_default {
    display: flex;
    flex-flow: column nowrap;
    background: #fff;
    transition: all .5s ease;
    height: 100%;
    position: relative;
}

.div-space {
    width: 30%;
}

.div-metadata {
    width: 62%;
}

input[type=text] {
    padding: 12px 20px;
    margin: 10px 10px;
    box-sizing: border-box;
    border-radius: 1px;
}

input[type=radio] {
    margin: 10px 10px;
}

input[type=submit] {
    margin: 5px 350px;
}

.project-metadata {
    width: 90%;
}

.copyright {
    font: 20px "ubuntu",Verdana,Arial,sans-serif;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.modal {
    position: relative;
    background: white;
    border-radius: 10px;
    padding: 24px;
    min-width: 400px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
    margin-top: -1000px;
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-root {
    position: relative;
    z-index: 1;
  }

  ul {
    font: 20px "ubuntu",Verdana,Arial,sans-serif;
    color: #2B0A3D;
    /* display: block;
    list-style-type: disc; */
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }