.logo-head { 
    background-color: #fff; 
    padding:20px 50px;
}

.hero_title {
    font: 30px "ubuntu",Verdana,Arial,sans-serif;
    color: #2B0A3D;
    padding-left: 50px;
}

.page-conatiner {
    padding-left: 50px;

}

.content-header {
    font: 20px "ubuntu",Verdana,Arial,sans-serif;
    color: #2B0A3D;
    word-break: break-word;
    margin: 10px 10px;
}

.content-text {
    color: #000;
    font: 16px "ubuntu",Verdana,Arial,sans-serif;
    letter-spacing: .5px;
}

.submit-button {
    margin-bottom: 24px;
    display: inline-block;
    font: 1rem/1 "ubuntu-md",Verdana,Arial,sans-serif;
    min-width: 195px;
    border-radius: 100px;
    text-align: center;
    white-space: nowrap;
    transition: all .5s ease;
    padding: 0 20px;
    color: #0070ad;
    border: 2px solid #0070ad;
    line-height: 48px;
}

.submit-button-hover:hover {
    color: white;
    background-color: #0070ad;
}

.flex-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
}

.section--grey {
    background: #ececec;
    position: relative;
    width: 70%;
    margin-left: 50px;
}

.card_default {
    display: flex;
    flex-flow: column nowrap;
    background: #fff;
    transition: all .5s ease;
    height: 100%;
    position: relative;
}

.div-space {
    width: 30%;
    margin-right: 30px;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 10px;
    box-sizing: border-box;
    border-radius: 1px;
}

input[type=radio] {
    margin: 10px 10px;
}

input[type=submit] {
    margin: 5px 350px;
}